In [1]:
"""TASK 1
1.  Install Jupyter notebook and run the first program and share the screenshot of the output"""
print("Hi, notebook Jupyter is installed. This is my print statement")

Hi, notebook Jupyter is installed. This is my print statement

In [2]:
"""2.  Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, 
between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on 
a single line. """

val1=2000
val2=3200

list=[]
for i in range(val1, val2+1):
    if (i%7==0) and (i%5!=0):
        list.append(i)
        
print(list)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [4]:
"""3. Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name."""

first_name= input("Enter your first name: ")
last_name= input("Enter your last name: ")

if True:
    if first_name and last_name:
        print ("Reverse of first and last name: ",first_name[::-1]+ " "+last_name[::-1])
    else:
        print("Data is not entered")

Enter your first name: kavya
Enter your last name: shivakumar
Reverse of first and last name:  ayvak ramukavihs

In [5]:
"""4.Write a Python program to find the volume of a sphere with diameter 12 cm. 
Formula: V=4/3 * π * r 3 """

# v=pi*(d/2)3 

pi=3.1415926535897931
r=(12/2)**3 
output= pi*r
print ("volume of phere is",output)

volume of phere is 678.5840131753953

In [6]:
"""TASK 2

1.  Write a program which accepts a sequence of comma-separated numbers from console and generate a list. 
 
 """

val =input("Enter sequence of comma seperated values: ")
print("val",val.split(','))
val=val.split(',')
list=[]
for i in val:
    list.append(int(i))
print("comma-separated numbers to list",list)

Enter sequence of comma seperated values:
val ['']

ValueError: invalid literal for int() with base 10: ''

In [7]:
"""2.  Create the below pattern using nested for loop in Python. 
 
 *  
 * *  
 * * *  
 * * * *  
 * * * * *  
 * * * *  
 * * *  
 * * 
 * """
a=5
temp=a-1
for i in range(1,a+1):
    for j in range(i):
        print("*", end='')
        if j==temp:
            print()
            for val in range(j,0,-1):
                for val1 in range(val):
                    print("*", end='')
                print()
               
               
    print()

*
**
***
****
*****
****
***
**
*

In [9]:
"""3.  
 
Write a Python program to reverse a word after accepting the input from the user. 
 
Sample Output: 
 
Input word: AcadGild 
 
Output: dilGdacA """

temp=""

user_input=input("Enter a string to reverse: ")
for i in range(len(user_input)-1, -1,-1):
    temp=temp+user_input[i]

print("Inverted string value: ",temp)

Enter a string to reverse: AcadGild
Inverted string value:  dliGdacA

In [10]:
"""4.  
 Write a Python Program to print the given string in the format specified in the ​sample output. 
 WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens 
 
Sample Output: 
 
WE, THE PEOPLE OF INDIA,   
    having solemnly resolved to constitute India into a SOVEREIGN, !  
        SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC    
        and to secure to all its citizens """

print("WE, THE PEOPLE OF INDIA,\n\thaving solemnly resolved to constitute India into a SOVEREIGN, !\n\t\tSOCIALIST, SECULAR, DEMOCRATIC REPUBLIC\n\t\tand to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN, !
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		and to secure to all its citizens